@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway/Raleway-Medium.eot');
	src: url('./assets/fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Raleway/Raleway-Medium.woff') format('woff'),
		url('./assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
		url('./assets/fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway/Raleway-Light.eot');
	src: url('./assets/fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Raleway/Raleway-Light.woff') format('woff'),
		url('./assets/fonts/Raleway/Raleway-Light.ttf') format('truetype'),
		url('./assets/fonts/Raleway/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway/Raleway-MediumItalic.eot');
	src: url('./assets/fonts/Raleway/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Raleway/Raleway-MediumItalic.woff') format('woff'),
		url('./assets/fonts/Raleway/Raleway-MediumItalic.ttf') format('truetype'),
		url('./assets/fonts/Raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('./assets/fonts/Raleway/Raleway-LightItalic.eot');
	src: url('./assets/fonts/Raleway/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Raleway/Raleway-LightItalic.woff') format('woff'),
		url('./assets/fonts/Raleway/Raleway-LightItalic.ttf') format('truetype'),
		url('./assets/fonts/Raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/fonts/Playfair/PlayfairDisplay-BoldItalic.eot');
	src: url('./assets/fonts/Playfair/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('./assets/fonts/Playfair/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/fonts/Playfair/PlayfairDisplay-Black.eot');
	src: url('./assets/fonts/Playfair/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-Black.woff') format('woff'),
		url('./assets/fonts/Playfair/PlayfairDisplay-Black.ttf') format('truetype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/fonts/Playfair/PlayfairDisplay-BlackItalic.eot');
	src: url('./assets/fonts/Playfair/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-BlackItalic.woff') format('woff'),
		url('./assets/fonts/Playfair/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/fonts/Playfair/PlayfairDisplay-Bold.eot');
	src: url('./assets/fonts/Playfair/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-Bold.woff') format('woff'),
		url('./assets/fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype'),
		url('./assets/fonts/Playfair/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}