/* ------ Colors ------ */
/*
body font #2d2d2d
light grey #969696
orange brand #e2574c
link hover #b64036
light grey border #d7d7d7
dark grey background #242424
*/

/* ------ Globals ------ */
html {
	font-size: 14px;
}

body {
	font-family: Raleway;
	font-weight: 300;
	color: #2d2d2d;
	background: #FFFFFF;
}

img {
	height: auto;
	max-width: 100%;
}

i {
	font-style: italic;
}

em {
	font-weight: bold;
}

.icon {
	font-size: 1rem;
	width: 20px;
	color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Playfair Display;
}

.container {
	padding: 0 2%;
	margin: auto;
	max-width: 1240px;
	width: 100%;
}

/* ------ Header ------ */
.banner {
	background: linear-gradient(to bottom,rgba(0,0,0, 0.25) 0%, rgba(0,0,0, 0.25) 100%),
				url("./assets/images/banner-girl.png") no-repeat center 150px,
				url("./assets/images/flower-bkgd.jpg") repeat-x center top;
	background-size: cover, contain, cover;
	height: 550px;
	color: #FFFFFF;
	position: relative;
}

.banner h2{
	font-size: 2em;
	font-family: Playfair Display;
	font-weight: 900;
	font-style: normal;
}

header {
	position: relative;
}

.cartIconContainer{
	width: 40px;
	height: 40px;
	float: right;
}
.cartIcon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.banner-text {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.banner p {
	font-size: 1.5rem;
	padding-bottom: 30px;
}

.banner h2 {
	font-size: 2.5rem; 
}

.updatesSection {
	background-image: url("./assets/images/wave-bkgd.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: center;
	height: 300px;
}

a:hover {
	color: #b64036;
}

.socialMediaIcon {
	height:30px;
	width:30px;
	display: inline-block;
}
.socialMediaList ul {
	float: right;
}

footer {
	background-color: #242424;
	padding-top: 30px;
}
.footerLeft {
	float: left;
}
.socialMediaList ul li {
	display: block;
	height:40px;
}

.socialMediaList ul li img {
	float: left;
}

.productSection .productList { 
	float: left;
	width: 25%;
}

.productSection h2 {
	text-align: center;
}

.productSection .productName {
	color: #e2574c;
	font-size: 2.5rem;
}

.productSection .productType {
	margin-top: 10px;
}

.productSection .productDescription {
	text-align: center;
}

.socialMediaList ul li a {
	text-decoration: none;
}

.socialMediaList ul li a:hover {
	color:red;
}

.clearfix:after {
	content: '';
	clear: both;
	display: table;
}

.alohaLogo {
	float: left;
	width: 200px;
}

.descriptionSection {
	text-align: center;
}

.subscribeContainer {
	background-color: #FFFFFF;
	margin: 0 auto;
	border-radius: 20px;
	height: 40px;
	width: 400px;
	position: relative;
	display:inline-block;
}

.subscribeSubmitTextInputContainer{
	float: left;
	margin-left: 20px;
}
.subscribeTextInput:focus{
	border: none;
}
.subscribeTextInput {
	border: none;
	font-size: 1.5rem;
	width: 250px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.subscribeSubmitBtnContainer {
	float: right;
	margin-right: 102px;
}
.subscribeSubmitBtn {
	background-color: #e2574c;
	width: 100px;
	border-radius: 18px;
	color: white;
	border: 0;
	height: 36px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.descriptionSection h2 {
	font-size: 2rem;
	padding: 40px 0 20px 0;
}

.descriptionSection p {
	line-height: 2rem;
}

.hr {
	height: 0px;
	border-top: 1px solid #d7d7d7;
	margin: 30px 0 30px 0; 
}
.productSection h2 {
	font-size: 2rem;
	padding-bottom: 20px;
}

@media all and (min-width: 600px) {
	html {
		font-size: 16px;
	}
}